@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #030f27;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #030f27;
}

@font-face {
  font-family: "Le Beaune New";
  font-style: normal;
  font-weight: 400;
  src: local("LeBeauneNew"), url("/fonts/LeBeauneNew.woff") format("woff"), url("/fonts/LeBeauneNew.woff2") format("woff2");
}

body {
  background-color: #030f27;
}

header .topInfo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  background-color: #17082d;
}

header .topInfo_container .topInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

header .topInfo_container .topInfo a {
  text-decoration: none;
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
}

header .topInfo_container .topInfo a:not(:last-child) {
  margin-right: 10px;
}

header .topInfo_container .topInfo:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 10%;
}

header .topInfo_container .topInfo:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 10%;
}

header .navigation_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation_container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

header .navigation_container .navigation {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Jost;
  text-transform: uppercase;
}

header .navigation_container .navigation:first-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

main .firstBlock {
  background-color: #272727;
  height: 920px;
  display: flow-root;
}

main .firstBlock #verticalLine1 {
  margin-top: 128px;
  width: 1px;
  height: 100px;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
}

main .firstBlock #firstBlock_text {
  margin-top: 29px;
  text-align: center;
  color: #fff;
  margin-bottom: 35px;
}

main .firstBlock #firstBlock_text #p1 {
  margin-top: -10px;
  font-family: 'Le Beaune New';
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
}

main .firstBlock #firstBlock_text h1 {
  margin-top: -50px;
  font-family: 'Le Beaune New';
  font-size: 100px;
  line-height: 100px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

main .firstBlock #firstBlock_text #p2 {
  margin-top: 100px;
  font-family: Jost;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
}

main .firstBlock #firstBlock_text #p3 {
  margin-top: 170px;
  font-family: 'Le Beaune New';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
}

main .firstBlock #verticalLine2 {
  width: 1px;
  height: 150px;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
}

main .secondBlock {
  display: flow-root;
  height: 688px;
  background-color: #fff;
}

main .secondBlock #verticalLine3 {
  width: 1px;
  height: 100px;
  background-color: #d1d1d1;
  margin-left: auto;
  margin-right: auto;
}

main .secondBlock .secondBlock_text {
  text-align: center;
}

main .secondBlock .secondBlock_text #p4 {
  margin-top: 20px;
  font-family: 'Le Beaune New';
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #999999;
}

main .secondBlock .secondBlock_text h3 {
  font-family: 'Le Beaune New';
  font-size: 42px;
  line-height: 1.2;
  font-weight: 400;
  color: #222222;
}

main .secondBlock .secondBlock_text #p5 {
  margin-top: 58px;
  font-family: Jost;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #373737;
  margin-bottom: 65px;
}

main .secondBlock .secondBlock_text #p6 {
  font-family: 'Jost - Semi';
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #777777;
}

main .thirdBlock {
  height: 1202px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .thirdBlock .news_container {
  margin-top: -90px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .thirdBlock .news_container .news {
  width: 570px;
  margin-bottom: 30px;
}

main .thirdBlock .news_container .news img {
  width: 570px;
  height: 400px;
}

main .thirdBlock .news_container .news h3 {
  padding-left: 36px;
  font-family: 'Le Beaune New';
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #222222;
}

main .thirdBlock .news_container .news p {
  padding-left: 36px;
  margin-top: 38px;
  font-family: Jost;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #696969;
  margin-bottom: 26px;
}

main .thirdBlock .news_container .news a {
  padding-left: 36px;
  font-family: 'Jost - Semi';
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #777777;
  text-decoration: none;
}

main .thirdBlock .news_container_end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 1%;
}

main .thirdBlock .news_container_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 1%;
}

main .fourthBlock {
  height: 455px;
  background-color: #030f27;
  text-align: center;
}

main .fourthBlock p {
  margin-top: 100px;
  font-family: 'Le Beaune New';
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
}

main .fourthBlock h3 {
  font-family: 'Le Beaune New';
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

main .fourthBlock button {
  margin-top: 90px;
  width: 175px;
  height: 60px;
  background-color: #0082fa;
  border-radius: 4px;
  border: none;
  font-family: 'Jost';
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

main .fourthBlock button:hover {
  background-color: #0265c2;
}

main .fifthBlock {
  background-color: #fff;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .fifthBlock .fifth_container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

main .fifthBlock .fifth_container .fifthText {
  width: 570px;
  margin-top: auto;
  margin-bottom: auto;
}

main .fifthBlock .fifth_container .fifthText #verticalLine4 {
  width: 1px;
  height: 100px;
  background-color: #d1d1d1;
}

main .fifthBlock .fifth_container .fifthText h5 {
  font-family: 'Le Beaune New';
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #999999;
}

main .fifthBlock .fifth_container .fifthText h3 {
  font-family: 'Le Beaune New';
  font-size: 42px;
  line-height: 1.2;
  font-weight: 400;
  color: #222222;
}

main .fifthBlock .fifth_container .fifthText p {
  margin-top: 50px;
  font-family: Jost;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #373737;
}

main .fifthBlock .fifth_container .fifthImage {
  width: 570px;
  margin-top: 175px;
}

main .fifthBlock .fifth_container_end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

main .fifthBlock .fifth_container_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main .sixthBlock {
  height: 378px;
  background-color: #030f27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .sixthBlock .sixthBlock_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

main .sixthBlock .sixthBlock_container .column {
  margin-left: 82px;
  margin-right: 82px;
  text-align: center;
}

main .sixthBlock .sixthBlock_container .column img {
  margin-left: auto;
  margin-right: auto;
}

main .sixthBlock .sixthBlock_container .column h3 {
  font-family: 'Le Beaune New';
  font-size: 52px;
  line-height: 1.2;
  font-weight: 400;
  color: #fefefe;
}

main .sixthBlock .sixthBlock_container .column h6 {
  font-family: 'Le Beaune New';
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #8dd7e5;
}

main .sixthBlock .sixthBlock_container .verticalLine_sixthBlock {
  width: 1px;
  height: 99px;
  opacity: 0.5;
  background-color: #ffffff;
}

main .seventhBlock {
  height: 1500px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
}

main .seventhBlock .seventhBlock_container #verticalLine {
  margin-top: 100px;
  width: 1px;
  height: 100px;
  background-color: #d1d1d1;
  margin-left: auto;
  margin-right: auto;
}

main .seventhBlock .seventhBlock_container p {
  margin-top: 50px;
  text-align: center;
  font-family: 'Le Beaune New';
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #999999;
}

main .seventhBlock .seventhBlock_container h3 {
  text-align: center;
  font-family: 'Le Beaune New';
  font-size: 42px;
  line-height: 1.2;
  font-weight: 400;
  color: #222222;
}

main .seventhBlock .seventhBlock_container .instructor_container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .seventhBlock .seventhBlock_container .instructor_container .instructor {
  margin: auto;
  margin-top: 50px;
}

main .seventhBlock .seventhBlock_container .instructor_container .instructor #instructorImage1 {
  background-image: url(src/people/Vincent.jpg);
}

main .seventhBlock .seventhBlock_container .instructor_container .instructor #instructorImage2 {
  background-image: url(src/people/Stella.jpg);
}

main .seventhBlock .seventhBlock_container .instructor_container .instructor #instructorImage3 {
  background-image: url(src/people/Ernest.jpg);
}

main .seventhBlock .seventhBlock_container .instructor_container .instructor #instructorImage4 {
  background-image: url(src/people/Thomas.jpg);
}

main .seventhBlock .seventhBlock_container .instructor_container .instructor #instructorImage5 {
  background-image: url(src/people/Monica.jpg);
}

main .seventhBlock .seventhBlock_container .instructor_container .instructor .instructorImage {
  width: 360px;
  height: 400px;
  background-color: #17082d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .seventhBlock .seventhBlock_container .instructor_container .instructor h5 {
  margin-top: -5px;
  text-align: left;
  padding-left: 20px;
  font-family: 'Le Beaune New';
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #222222;
}

main .seventhBlock .seventhBlock_container .instructor_container .instructor p {
  margin-top: 0px;
  text-align: left;
  padding-left: 20px;
  font-family: Jost;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #696969;
}

main .eighthBlock {
  background-image: url(src/bg_8.png);
  background-position-x: center;
  height: 872px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .eighthBlock .eighth_container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: -ms-grid;
  display: grid;
}

main .eighthBlock .eighth_container #varticalLine {
  margin-top: 100px;
  width: 1px;
  height: 100px;
  background-color: #bdbcbc;
}

main .eighthBlock .eighth_container p {
  margin-top: 20px;
  font-family: 'Le Beaune New';
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #333333;
}

main .eighthBlock .eighth_container .title_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .eighthBlock .eighth_container .title_a h3 {
  font-family: 'Le Beaune New';
  font-size: 42px;
  line-height: 1.2;
  font-weight: 400;
  color: #222222;
}

main .eighthBlock .news_container {
  margin-top: 100px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .eighthBlock .news_container .news {
  width: 570px;
  margin-bottom: 30px;
}

main .eighthBlock .news_container .news img {
  width: 570px;
  height: 400px;
}

main .eighthBlock .news_container .news h3 {
  padding-left: 36px;
  font-family: 'Le Beaune New';
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #222222;
}

main .eighthBlock .news_container .news p {
  padding-left: 36px;
  margin-top: 38px;
  font-family: Jost;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #696969;
  margin-bottom: 26px;
}

main .eighthBlock .news_container .news a {
  padding-left: 36px;
  font-family: 'Jost - Semi';
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #777777;
  text-decoration: none;
}

main .eighthBlock .news_container_end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 1%;
}

main .eighthBlock .news_container_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 1%;
}
