/*@font-face {
    font-family: "Le Beaune New";
    font-style: normal;
    font-weight: 400;
    src: local("LeBeauneNew"),
         url("/fonts/LeBeauneNew.woff") format("woff"),
         url("/fonts/LeBeauneNew.woff2") format("woff2");
  }*/